[submodule "godot"]
	path = godot
	url = ./godot
	branch = 4.1.3-stable
[submodule "modules/godotmidi/--force"]
	path = modules/godotmidi/--force
	url = git@github.com:jcelerier/libremidi.git
[submodule "modules/godotmidi/libremidi"]
	path = modules/godotmidi/libremidi
	url = git@github.com:jcelerier/libremidi.git
